@import "./reset.css";

h1 {
  color: #ffffff;
  text-align: center;
  margin: 30px 0;
  font-size: 80px;
  font-family: bitbit;
  text-shadow: 0px 3px 2px #f73c89;
  -webkit-text-stroke: 0.3px black;
}

h2 {
  color: #ffffff;
  text-align: center;
  margin: 20px 0;
  font-size: 60px;
  font-family: bitbit;
  text-shadow: 0px 3px 2px #f73c89;
  -webkit-text-stroke: 0.3px black;
}

h3 {
  color: #ffffff;
  text-align: center;
  margin: 20px 0;
  font-size: 48px;
  font-family: bitbit;
  text-shadow: 0px 3px 2px #f73c89;
  -webkit-text-stroke: 0.3px black;
}

h4 {
  color: #ffffff;
  text-align: center;
  margin: 10px 0;
  font-size: 36px;
  font-family: bitbit;
  text-shadow: 0px 3px 2px #f73c89;
  -webkit-text-stroke: 0.3px black;
}

h5 {
  color: #ffffff;
  text-align: center;
  margin: 10px 0;
  font-size: 24px;
  font-family: bitbit;
  text-shadow: 0px 3px 2px #f73c89;
  -webkit-text-stroke: 0.3px black;
}

h6 {
  color: #ffffff;
  text-align: center;
  margin: 10px 0;
  font-size: 10px;
  font-family: bitbit;
  text-shadow: 0px 3px 2px #f73c89;
  -webkit-text-stroke: 0.3px black;
}

// 파랑배경
.wrap-blue {
  width: 100%;
  height: 90vh;
  position: absolute;
  background-image: url("../../assets/back_img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrap-violet {
  width: 100%;
  height: 90vh;
  position: absolute;
  background-image: url("../../assets/back_violet.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.game-btn {
  cursor: pointer;
  padding: 5%;
  text-align: center;
  color: #ffffff;
  font-family: bitbit;
  text-shadow: 0px 2px 1px #f73c89;
  -webkit-text-stroke: 1px black;
  background-color: #ffe968;
  border: black 3px solid;
  border-radius: 20px;
}

.wrap-inputs-login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 15%;
}

.wrap-inputs-signup {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.wrap-signup-btn {
  margin-top: 10px;
  text-align: center;
  display: block;
}

.wrap-count-num {
  display: flex;
  justify-content: space-evenly;

  p {
    margin-top: 60px;
    font-size: 60px;
    font-family: bitbit;
    text-shadow: 0px 3px 2px #f73c89;
    -webkit-text-stroke: 0.3px black;
  }

  img {
    height: 80px;
    margin-top: 50px;
  }
}

.wrap-mode-btn {
  margin-top: 25%;
  display: block;
  text-align: center;

  img {
    width: 250px;
    height: 160px;
  }
}

.wrap-numberofmember {
  display: flex;
  justify-content: space-evenly;
  margin-right: 17%;
  margin-top: 17%;

  img {
    margin-top: 15px;
    margin-left: 30px;
    width: 70px;
    height: 60px;
  }
}

header {
  display: flex;
  height: 50px;
  font-size: 24px;
  padding: 20px;
  justify-content: space-between;
  width: calc(100%-40px);
  background-color: #65DDF2;

  .logo {
    width: 50px;
    height: 40px;
    object-fit: cover;
  }

  .back-btn {
    width: 30px;
    height: 30px;
  }
}

// 정렬

.flex-container {
  display: flex;
}

// 버튼 관련

//이미지로된 버튼
.btn-img {
  position: absolute;
  top: 65vh;
  left: calc(50vw - 80px);
  display: block;
  width: 160px;
  height: 80px;

  &:hover {
    opacity: 0.3;
    cursor: pointer;
  }
}

.btn-disable {
  pointer-events: none;
}

.btn-img-signup {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 150px;
  height: 65px;
}

.btn-ice {
  position: relative;
  border: none;
  display: inline-block;
  padding: 10% 8%;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  margin: 0 30px 0 30px;
}

.btn-login {
  position: relative;
  border: none;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  margin: 0 30px 0 30px;
}

// 홈에 동물3마리
.img-ani3 {
  display: block;
  margin: 0px auto;
  padding-top: 3vh;
  width: 220px;
  height: 100px;
}

.img-game {
  height: 100px;
  padding-top: 0;
}

// input 관련

.input-with-label {
  margin-left: 12%;
  font-size: 20px;
  margin-bottom: 6px;
  label {
    font-family: bitbit;
  }
  input {
    margin-top: 3px;
    box-sizing: border-box;
    height: 35px;
    border: 2px solid black;
    font-size: 14px;
    font-weight: bold;
    width: 60%;
  }

  .input-pin {
    height: 40px;
    border-radius: 15px;
    outline: none;
    display: flex;
    font-size: 80px;
  }

  img {
    width: 60px;
    height: 40px;
  }

  .input-id {
    box-sizing: border-box;
    height: 40px;
    width: 70%;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  .input-login-password {
    box-sizing: border-box;
    height: 40px;
    width: 70%;
    font-size: 24px;
  }
  .input-error {
    color: red;
  }
}

// padding, margin
.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt50 {
  margin-top: 50px;
}

.mt100 {
  margin-top: 100px;
}

.mtp5 {
  margin-top: 5%;
}

.mtp10 {
  margin-top: 10%;
}

.mtp15 {
  margin-top: 15%;
}

.mtp20 {
  margin-top: 20%;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pt50 {
  padding-top: 50px;
}

.pt100 {
  padding-top: 100px;
}

.ptp10 {
  padding-top: 10%;
}

.ptp15 {
  padding-top: 15%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: "bitbit";
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff"),
    url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2");
}

.balance_1 {
  color: rgb(245, 36, 36);
  text-align: center;
  margin: 10px 0;
  font-size: 36px;
  font-family: bitbit;
  text-shadow: 0px 2px 1px black;
  -webkit-text-stroke: 0.3px black;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.balance_2 {
  // color: #ffffff;
  color: rgb(80, 69, 239);
  text-align: center;
  margin: 10px 0;
  font-size: 36px;
  font-family: bitbit;
  text-shadow: 0px 2px 1px black;
  -webkit-text-stroke: 0.3px black;
  margin-left: 30px;
  margin-right: 30px;
}

.explanation {
  background-color: hsla(236, 59%, 55%, 0.2);
  text-align: left;
  font-size: 18px;
  font-family: bitbit;

  p {
    margin: 90px 20px;
    padding: 20px;
    color: rgb(22, 22, 22);
    line-height: 25px;
  }
}

.count {
  color: white;
  text-align: center;
  margin: 130px 0;
  font-size: 100px;
  font-family: bitbit;
  text-shadow: 3px 5px 4px #f73c89;
  -webkit-text-stroke: 0.3px black;
}

.donation-meter {
  margin-left: 40px;
  width: 120px;

  .glass {
    background: #e5e5e5;
    border-radius: 100px 100px 0 0;
    display: block;
    height: 200px;
    margin: 40px 35px 10px;
    padding: 5px;
    position: relative;
    width: 20px;
  }

  .amount {
    background: #f34e54;
    border-radius: 100px;
    display: block;
    width: 20px;
    position: absolute;
    height: 0%;
    bottom: 5px;
    animation-name: fill-temp;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  @keyframes fill-temp {
    from {
      height: 0%;
    }

    to {
      height: 60%;
    }
  }

  strong {
    display: block;
    text-align: center;
  }

  .total {
    font-size: 16px;
    position: absolute;
    right: 35px;
    bottom: 50%;
  }
}

.bulb {
  background: #e5e5e5;
  border-radius: 100px;
  display: block;
  height: 50px;
  margin: 0 35px 10px;
  padding: 5px;
  position: relative;
  top: -20px;
  right: 15px;
  width: 50px;

  .red-circle {
    background: #f34e54;
    border-radius: 100px;
    display: block;
    height: 50px;
    width: 50px;
  }

  .filler {
    background: #f34e54;
    border-radius: 100px 100px 0 0;
    display: block;
    height: 30px;
    width: 20px;
    position: relative;
    top: -65px;
    right: -15px;
    z-index: 30;
  }
}